---
const pageTitle = "About Me";

const identity = {
  firstName: "AIT-EL-HAJ Abdelouadoud",
  country: "Morocco",
  occupation: "maby! An Aspiring Software Architect",
  hobbies: ["Coding", "Reading", "Ricing My Operating System"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
      <p style="text-align: center;">
        <a href="/">aehabdelouadoud.com</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
      </p>

    <h1 style="text-align: center;">{pageTitle}</h1>

    <p style="text-align: center;">
    I am a very enthusiastic and driven individual with a huge passion for IT and
    Business, complemented by a strong interest in public speaking and reading. My
    commitment to continuous learning and innovation fuels my pursuit of excellence
    in both academic and pro- fessional settings. I would like to use all the
    diverse skills and expe- riences in contributing meaningfully toward
    collaborative projects and leaving a lasting positive impact. 
    </p>
  </body>
</html>
