---
const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">aehabdelouadoud.com</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <p>Good luck vimmer :)</p>
    <ul>
      <li><a href="/posts/neovim_vs_vim">Neovim vs Vim</a></li>
      <li><a href="/posts/neovim_vs_other_ides">Neovim Vs VS-code</a></li>
      <li><a href="/posts/neovim_journey">Neovim Journey</a></li>
      <li><a href="/posts/c_programming_language">C programming?</a></li>
      <li><a href="/posts/nixos">NixOS</a></li>
      <li><a href="/posts/shell_basics">Shell basic</a></li>
      <li><a href="/posts/unix_history">Unix History!</a></li>
    </ul>
	</body>
</html>


