---
const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
	<body>
      <p style="text-align: center;">
        <a href="/">aehabdelouadoud.com</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
      </p>

    <h1>{pageTitle}</h1>
    <ul>
      <li><a href="/posts/neovim">neovim</a></li>
    </ul>
	</body>
</html>


