---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AIT EL HAJ Abdelouadoud</title>
	</head>
	<body>
		<h1>AIT EL HAJ Abdelouadoud</h1>
    <p>
      Hello, This is gonna be my personal website.
    </p>
	</body>
</html>
